/* Responsive */
@media (orientation: portrait) {


    .nav-links {
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: var(--dark);
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        transition: all 0.5s ease;
    }

    .carousel-container {
        width: 100%;
    }

    .tech-ticker {
        height: 10vh;
        border-radius: 15px;
    }

    .tech-icon {
        width: 20px;
        height: 20px;
        margin-right: 1px;
        object-fit: contain;
    }

    .tech-item {
        margin: 0 1px;
        padding: 5px 10px;
    }

    .tech-name {
        font-weight: 300;
        font-size: 0.65rem;
    }

    .section-title {
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.0rem !important;
    }

    h2 {
        font-size: 1.25rem !important;
    }


    .tech-ticker {

        width: 100%;
        height: 20vh;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    }

    .ticker-container {
        animation: ticker-scroll 20s linear infinite;
    }

    #experience {
        width: 100% !important;
        padding: 0;
    }

    .container {
        width: 100% !important;
        padding: 0;
        padding-top: 10%;
    }

    .timeline {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .timeline-item {
        width: 80%;
        padding: 0 !important;
    }

    .timeline-content {
        width: 80%;
        margin-left: 15% !important;
        margin-top: 5%;
    }

    .left {
        left: 0;
    }

    #education {
        width: 100%;
        padding: 0;
    }

    #projects {
        width: 100% !important;
        padding: 0;
    }

    #projects p {
        width: 50%;
    }

    .project-flex {
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
    }

    .project-card {
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 10%;
        width: 90%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
    }

    .project-info>p{
        width: 80%;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: block;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .about-content {
        flex-direction: column;
    }

    .timeline::after {
        left: 31px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline-item::after {
        left: 20px;
    }

    .left::after,
    .right::after {
        left: 20px;
    }

    .right {
        left: 0;
    }
}