@media screen and (orientation:portrait) {
    .project-card {
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 10%;
        width: 80%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
    }
}